.MenuButton-main{
    display: flex;
}
.menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;    
    border-radius: 50%;
    padding: 0.3rem;
    background-color: var(--color-B);
    color: var(--color-A);
    text-align: center;
    z-index: 1000;
    cursor: pointer;

    /* font-size: 16px; */
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    transition: 200ms;
}

.menu-button:active{
    background-color: var(--color-A);
}
@media screen and (min-width: 768px){
    .menu-button {
        font-size: 2.5rem;
        height: 3rem;
        width: 3rem;
        opacity: 0.8;
        padding: 0%;
        background-color: transparent;
        color: var(--color-A);
        /* font-size: 16px; */
        position: initial;
        bottom: 0;
        left: 0;
    }
    
    .menu-button:hover {
        opacity: 1;
    }
    .burger-button {
        display: block;
        z-index: 1000;
    }
    .burger-button:hover {
        transition: 500ms;
        width: 45px;
        height: 45px;
        /* font-size: 25px; */
        line-height: 2em;
    }
}