<!-- <div class="SignInComponent_container" id="Form">
    <form class="SignInComponent_form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      Value: {{ signUpForm.value | json }}
      <img alt="logo PMP" src="{{ logo }}" class="SignInComponent_User-logo" />
      <app-user-input id="user_input_user" title="Email" type="email" name="email" [parentFormGroup]="signUpForm"> </app-user-input>
      <app-user-input id="user_input_password" title="Contraseña" type="password" name="password" [parentFormGroup]="signUpForm"></app-user-input>
      <button class="button" id="SignInComponent_button" [disabled]="!validateForm()">Sign In</button>
      <app-error-banner *ngIf="error"></app-error-banner>
    </form>
</div>
   -->