<div class="SignInComponent_container" id="Form">
    <form class="SignInComponent_form" (ngSubmit)="onSubmit()">
      <img alt="logo PMP" src="{{ logo }}" class="SignInComponent_User-logo" />
      <app-user-input id="2" title="Email" type="email" [name]="email"></app-user-input>
      <app-user-input id="34" title="Contraseña" type="password" [name]="password"></app-user-input>
      <button class="button" id="SignInComponent_button" [disabled]="!validateForm()">SIGN IN</button>
      <app-error-banner *ngIf="error"></app-error-banner>
    </form>
    <a class="SignInComponent_SingUp" routerLink="/signup">Registrate</a>
  </div>
  