<input type="text" (input)="onSearchInput($event)" placeholder="Search by name" />


<div class="ToolsLayout">
  <app-tool-filter [brands]="brands" (onFilterChange)="updateFilteredTools()"></app-tool-filter>
  <ng-container *ngIf="!anyBrandChecked(); else filteredToolList">
    <ul class="ToolList">
      <li *ngFor="let tool of tools">
        <app-curved-element [title]="tool.name" [description]="tool.description" [link]="tool.link" [imageSrc]="'../../../assets/img/flex_drill.png'" [imageAlt]="'Flex Drill'"></app-curved-element>
      </li>
    </ul>
  </ng-container>
  <ng-template #filteredToolList>
    <ul class="ToolList">
      <li *ngFor="let tool of filteredTools">
        <app-curved-element *ngIf="userContext.brandsChecked[tool.brand]" [title]="tool.name" [description]="tool.description" [link]="tool.link" [imageSrc]="'../../../assets/img/flex_drill.png'" [imageAlt]="'Flex Drill'"></app-curved-element>
      </li>
    </ul>
  </ng-template>
</div>
