
.ToolsLayout{
    display: flex;
    justify-content: center;
}
.ToolList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.ToolsLoading{
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px){
    .ToolList{
        margin: auto;
        padding: auto;
    }
}

