<div class="tool-list">
  <app-search-bar
    *ngIf="toolPage && brands"
    (searchText)="onSeachbarChange($event)"
  ></app-search-bar>
  <div class="filterButton-container">
    <span class="filter-button opacity0"></span>
    <ng-container *ngIf="loading">
      <div class="ToolsLoading">
        <app-micro-loading></app-micro-loading>
      </div>
    </ng-container>
    <mat-icon
      *ngIf="toolPage && brands"
      role="button"
      class="filter-button"
      id="filterButton"
      aria-label="filterButton"
      label="filterButton"
      (click)="openFilter()"
    >
      filter_list
    </mat-icon>
    <span class="filter-button opacity0" *ngIf="!toolPage ||  !brands"></span>
  </div>
  <div class="ToolsLayout">
    <div *ngIf="error">Error, please try again</div>
    <ng-container *ngIf="toolPage && !error">
      <ul class="ToolList">
        <li *ngFor="let tool of toolPage.tools">
          <app-tool-item
            [name]="tool.name"
            [description]="tool.description"
          ></app-tool-item>
        </li>
      </ul>
      <ng-container *ngIf="toolPage.length === 0">
        <div class="no-tools">
          <mat-icon class="no-tools-icon">sentiment_dissatisfied</mat-icon>
          <h2>No tools found</h2>
        </div>
        <!-- icon -->
      </ng-container>
      <app-tool-filter (filterChange)="onFilterChange()" [filterOn]="filterOn" [brands]="brands"></app-tool-filter>
    </ng-container>
  </div>
  <ng-container *ngIf="toolPage && !error">
    <app-pagination-indicator
    [page]="toolPageInput.page"
    [totalPages]="toolPage.pages"
    (pageChange)="onPageChange($event)"
    ></app-pagination-indicator>
  </ng-container>
  </div>
