<div class="UserItem">
  <input
    id="{{ id }}"
    class="toggle"
    type="checkbox"
  >
  <label
    for="{{ id }}"
    class="lbl-toggle"
    tabindex="0"
  >
    {{ name }}
  </label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p>{{ name + ' ' + last_name }}</p>
      <p>{{ 'id: ' + id }}</p>
      <p>{{ 'credentials: ' + credentials }}</p>
      <div class="field_input_contaniner">
        <p class="field_input_text">{{'name: '}}</p>
        <input class="field_input" [(ngModel)]="updateUserInput.name" placeholder="{{name}}">
      </div>
      <div class="field_input_contaniner">
        <p class="field_input_text">{{'last_name: '}}</p>
        <input [(ngModel)]="updateUserInput.last_name" placeholder="{{last_name}}">
      </div>
      <div class="field_input_contaniner">
        <p class="field_input_text">{{'username: '}}</p>
        <input [(ngModel)]="updateUserInput.username" placeholder="{{username}}">
      </div>
      <div class="field_input_contaniner">
        <p class="field_input_text">{{'birthday: '}}</p>
        <input [(ngModel)]="updateUserInput.birthday" placeholder="{{birthday}}">
      </div>
      <div class="field_input_contaniner">
        <p class="field_input_text">{{'city_birth: '}}</p>
        <input [(ngModel)]="updateUserInput.city_birth" placeholder="{{city_birth}}">
      </div>
      <section  class="button_section">
        <div  class="button_container">
          <button class="button general_button" (click)="cancelUpdateField()">Cancel</button>
          <button class="button general_button" (click)="updateCurrentUser()">Update</button>
          <button class="button general_button" (dblclick)="deleteCurrentUser()">Delete</button>
        </div>
      </section>
    </div>
  </div>
</div>
