<div class="UserItem">  
    <input id="{{id}}" class="toggle" type="checkbox">
    <label for="{{id}}" class="lbl-toggle" tabindex="0">{{name}}</label>
    <div class="collapsible-content">
        <div class="content-inner">
            <div>
                <p>{{name+' '+last_name}}</p>
            </div>            
            <div>
                <p>{{'id: '+id}}</p>
            </div>
            <div>
                <p>{{'name: '+name}}</p>
           </div>
           <div>
                <p>{{'last_name: '+last_name}}</p>
           </div>
           <div>
                <p>{{'username: '+username}}</p>
           </div>
           <div>
                <p>{{'birthday: '+birthday}}</p>
           </div>
           <div>
                <p>{{'city_birth: '+city_birth}}</p>
           </div>
           <div>
                <p>{{'credentials: '+credentials}}</p>
           </div>
        </div>
    </div>
</div>