.user-search-bar{
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--color-A5);
    border-radius: 3rem;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    margin: 1rem 0;
    transition: border 5s ease;
}

.user-search-bar-icon{
    color: var(--color-A4) ;
}

.user-search-bar-input{
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-A4);
    font-size: 1rem;
}

