<div class="user-list-container" *ngIf="!loading">
  <app-search-bar></app-search-bar>
  <button (click)="showCreateForm = true">Create User</button>
  <form class="create-form" *ngIf="showCreateForm" (ngSubmit)="createUser(newUser)">
    <input [(ngModel)]="newUser.name" placeholder="Name" required>
    <input [(ngModel)]="newUser.last_name" placeholder="Last Name" required>
    <input [(ngModel)]="newUser.username" placeholder="Username" required>
    <input [(ngModel)]="newUser.birthday" placeholder="Birthday" required>
    <input [(ngModel)]="newUser.city_birth" placeholder="City of Birth" required>
    <input [(ngModel)]="newUser.credentials" placeholder="Credentials" required>
    <button type="submit">Create</button>
    <button type="button" (click)="cancelCreateForm()">Cancel</button>
  </form>
  <ul class="UserList">
    <li *ngFor="let user of users">
      <app-user-item
        [id]="user.id"
        [name]="user.name"
        [last_name]="user.last_name"
        [username]="user.username"
        [birthday]="user.birthday"
        [city_birth]="user.city_birth"
        [credentials]="user.credentials"
        (updateUser)="updateUser(user.id, $event)"
        (deleteUser)="deleteUser(user.id)"
      ></app-user-item>
    </li>
  </ul>
</div>
