.user-list-container {
  width: 100%;
}

.UserList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.UserLoading {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.user-list-button {
  font-size: 20px;
  padding: 10px 20px;
  background-color: var(--color-C);
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.user-list-button:hover {
  background-color: var(--color-B);
}
