<div class="user-list-container" *ngIf="!loading">
    <app-search-bar></app-search-bar>
    <ul class="UserList" >
        <li *ngFor="let user of users">
            <app-user-item 
            [id]="user.id"
            [name]="user.name"
            [last_name]="user.last_name"
            [username]="user.username"
            [birthday]="user.birthday"
            [city_birth]="user.city_birth"
            [credentials]="user.credentials"
            ></app-user-item>
        </li>
    </ul>
</div>
<ng-container *ngIf="loading">
    <div class="UserLoading">
        <app-micro-loading></app-micro-loading>
    </div>
</ng-container>
