@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


  /* You can add global styles to this file, and also import other style files */
:root {
  /* Color Theme Basic */
  --color-A: #ffffff;
  --color-B: #F2762E;
  --color-C: #F29B30;
  --color-D: #F2C744;
  --color-E: #011F26;
  --color-F: #0D0D0D;

  /* Color Theme A */
  --color-A1: #BABABA;
  --color-A2: #7A7A7A;
  --color-A3: #FAFAFA;
  --color-A4: #3B3B3B;
  --color-A5: #E0E0E0;
  /* Color Theme B */
  --color-B1: #F9AB23;
  --raw-B1: 249, 171, 35;

  --color-B2: #DB7F1F;
  --color-B3: #DB481F;
  --color-B4: #F93323;
  /* Color Theme  C*/
  --color-C1: #F9C725;
  --color-C2: #DB9C21;
  --color-C3: #000000;
  --color-C4: #F95C25;
  /* Color Theme D */
  --color-D1: #F9F039;
  --color-D2: #DBC232;
  --color-D3: #DBA032;
  --color-D4: #F9A039;

    /* Color Theme E */
    --color-E1: #011033;
    --color-E2: #01223D;
    --color-E3: #013D38;
    --color-E4: #013321;

  --color-ErrorBack:pink;
  --color-Error: red;

  --Header-size: 57px;
  --Footer-size: 45px;
  --HeaderFooter: calc(var(--Header-size) + var(--Footer-size));
  --Page-padding: 0 20px var(--Navbar-size) 20px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}
body {
  background-color: var(--color-A);
  color: var(--color-A4);
}


::selection{
  background-color: var(--color-A2); /* WebKit/Blink Browsers */
  color: var(--color-A3);
}
::-moz-selection{
  background-color: var(--color-A2); /* WebKit/Blink Browsers */
  color: var(--color-A3);
}

/* General Settings */

.Layout-container {
  display: block;
  height: 100%;
  width: auto;
}
.App-title {
  font-size: 72px;
}
.Page-container {
  /* padding: var(--Page-padding); */
  margin: 0;
  width: auto;
  min-height: calc(100vh - var(--HeaderFooter));
  background-color: var(--color-A3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 50px;
  margin: 0.3rem;
}
/* General Settings */

/* General Details */
.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: var(--color-A4);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.6rem;
}
input,
button {
  text-decoration: none;
  outline: none;
  background: none;
  border: none;
}
.button {
  cursor: pointer;
  background-color: var(--color-B3);
  color: var(--color-A);
  font-size: 2em;
  font-weight: bold;
  border: 5px solid inherit;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s all;
}
.button:hover {
  background-color: var(--color-B);
}

.button:active {
  background-color: var(--color-B);
}
/* General Details */

/* scrollbar style */
::-webkit-scrollbar {
  width: 6px;
  display: none;
}

::-webkit-scrollbar-track {
  /* border: 1px solid var(--color-A4); */
  background-color: var(--color-A4);
}

::-webkit-scrollbar-thumb {
  background: var(--color-B4);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-B);
}
/* scrollbar style */


/* animations */
@keyframes shrinking {
  0% {
    opacity: 1;
  }
  99%{
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    visibility: none;
  }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* animations */


@media screen and (min-width: 1024px) {
  .button {
    font-size: 2rem;
  }
  ::-webkit-scrollbar {
    display: initial;
  }
}

